.card {
  width: 100%;
  border: none !important;
  font-family: 'Poppins', sans-serif !important;
  color: #000;
  margin-bottom: 50px;
}

.card-img {
  padding: 5px;
  border: 1px solid #555;
  border-bottom: 0;
  border-radius: 10px 10px 0 0 !important;
  backface-visibility: hidden;
}

.card-back-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 5px;
  border: 1px solid #555;
  border-bottom: 0;
  border-radius: 10px 10px 0 0 !important;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.image-container {
  cursor: pointer;
  transform-style: preserve-3d;
  transition: all 1s ease;
  position: relative;
}

.image-container:hover {
  transform: rotateY(180deg);
}

.card-body {
  border: 1px solid #555;
  border-radius: 0 0 10px 10px !important;
  letter-spacing: 0.3px;
  box-shadow: 0 14px 20px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-row {
  padding: 30px 50px;
}

@media screen and (max-width: 500px) {
  .card-row {
    padding: 0;
  }
}

.card-title {
  font-weight: bolder;
  letter-spacing: 1px;
}

.card-color-1 {
  background-color: #7eb9df;
}

.card-color-2 {
  background-color: #7ed2a4;
}

.card-color-3 {
  background-color: #f2a999;
}

.card-color-4 {
  background-color: #f3d591;
}

.card-color-5 {
  background-color: #bbe898;
}

.project-card-btn {
  font-size: 14px !important;
  padding-left: 30px !important;
  padding-right: 30px !important;
}

@media screen and (max-width: 340px) {
  .project-card-btn {
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
}

.css-button-arrow--black {
  min-width: 120px;
  height: 37px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  overflow: hidden;
  border-radius: 5px;
  border: none;
  background-color: #343a40;
  text-decoration: none;
}
.css-button-arrow--black:hover {
  border-radius: 5px;
  padding-right: 24px;
  padding-left: 8px;
  color: #fff;
}
.css-button-arrow--black:hover:after {
  opacity: 1;
  right: 10px;
}
.css-button-arrow--black:after {
  content: '\00BB';
  position: absolute;
  opacity: 0;
  font-size: 20px;
  line-height: 40px;
  top: 0;
  right: -20px;
  transition: 0.4s;
}

/*hdhsa*/
.css-button-shadow-border-sliding--black {
  min-width: 115px;
  height: 37px;
  color: #fff;
  font-weight: 200 !important;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1),
    4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  background: #212529;
  z-index: 1;
}
.css-button-shadow-border-sliding--black:hover:after {
  width: 100%;
  left: 0;
}
.css-button-shadow-border-sliding--black:after {
  border-radius: 5px;
  position: absolute;
  content: '';
  width: 0;
  height: 100%;
  top: 0;
  z-index: -1;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, 0.1),
    4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  background-color: #343a40;
  right: 0;
}
.css-button-shadow-border-sliding--black:active {
  top: 2px;
}

@media screen and (max-width: 400px) {
  .css-button-shadow-border-sliding--black {
    min-width: 100px;
  }
}

@media screen and (max-width: 335px) {
  .css-button-shadow-border-sliding--black {
    min-width: 90px;
  }
}
