.about-heading {
  font-weight: bold;
}

.about-heading:after {
  display: block;
  height: 4px;
  background-color: #00a6fb;
  content: ' ';
  width: 70px;
  margin: 0 auto;
  margin-top: 20px;
}

.about-des {
  font-family: 'Poppins', sans-serif !important;
  text-align: center;
  line-height: 1.5;
  font-size: 20px;
}

.container-div {
  max-width: 800px;
  text-align: center;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding: 5px 20px;
}

.know-me-container {
  padding: 25px;
  border: 1px solid #555;
  margin: 40px 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 14px 20px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.about-container {
  padding: 20px 0;
  background-color: #f8f9fa;
}

.about-boxes-heading {
  font-weight: 700;
}

.about-boxes-heading:after {
  display: block;
  height: 3px;
  background-color: #00a6fb;
  content: ' ';
  width: 40px;
  margin: 10px auto;
}

@media screen and (max-width: 500px) {
  .know-me-container {
    margin: 40px 5px;
  }
}
