.nav-link {
  text-transform: uppercase;
  font-weight: bolder !important;
  color: #555 !important;
}

.nav-link:hover {
  color: #00a6fb !important;
}

.nav-item {
  margin: 0px 20px;
}

.my-photo {
  height: 50px;
  border-radius: 50%;
}

.brand-name {
  text-transform: uppercase;
  font-weight: bold;
  word-spacing: 2px;
  letter-spacing: 1px;
  color: #555;
}

.brand-name:hover {
  color: #00a6fb;
}
