@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 300;
  font-size: 100%;
}

h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h1 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 240%;
  word-spacing: 4px;
}

h2 {
  font-size: 200% !important;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  line-height: 1.25;
}

h3 {
  font-size: 140% !important;
  margin-bottom: 15px;
}

p {
  font-size: 115%;
}

body {
  margin: 0;
  color: #555 !important;
  /* background-color: #333 !important; */
}
